html, body {
  height: 100%;
  width: 100%;
  font-family: 'Unbounded', cursive;
}

.main-div {
  background-color: #4cc9f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: #4361ee;
  width: 400px;
  height: 250px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.content {
  text-align: center;
  color: #f1faee;
}

.content h3 {
  color: #3a0ca3;
  font-size: 15px;
}

#quote {
  font-size: 18px;
}

hr {
  width: 50%;
  height: 1px;
  border: 0;
  background-color: #f1faee;
  text-align: center;
}


.btn {
  position: absolute;
  bottom: 23%;
  border-radius: 50%;
  background-color: #3a0ca3;
  height: 50px;
  width: 50px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #f1faee;
  transition: all .5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  font-size: 20px;
}

.btn:hover {
  background-color: #f1faee;
  color: #3a0ca3;
  font-size: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}